body{

margin:0;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

font-family:Arial;

background:linear-gradient(
135deg,
#667eea,
#764ba2
);

}



.chat-container{


width:650px;

height:750px;

background:white;

border-radius:25px;

box-shadow:0px 20px 50px gray;

display:flex;

flex-direction:column;

overflow:hidden;


}



.header{


background:#111827;

color:white;

padding:25px;

font-size:28px;

text-align:center;

font-weight:bold;


}



#chat-box{


flex:1;

padding:20px;

overflow-y:auto;


}



.bot{


background:#e5e7eb;

padding:15px;

margin:10px;

border-radius:15px;

width:70%;


}



.user{


background:#2563eb;

color:white;

padding:15px;

margin:10px;

border-radius:15px;

width:70%;

margin-left:auto;

text-align:right;


}



.suggestions{


padding:15px;

border-top:1px solid #ddd;


}



.suggestions button{


padding:10px;

margin:5px;

border-radius:20px;

border:none;

background:#eef2ff;

cursor:pointer;


}



.suggestions button:hover{

background:#2563eb;

color:white;

}



.input-area{


display:flex;

padding:15px;

border-top:1px solid #ddd;


}



input{


flex:1;

padding:15px;

border-radius:25px;

border:1px solid gray;

font-size:16px;


}



.input-area button{


margin-left:10px;

padding:15px 25px;

border:none;

border-radius:25px;

background:#2563eb;

color:white;


}